@media only screen and (max-width: 699px) {
    .rsvp{
        background: linear-gradient(rgba(4, 53, 76,  0.50), rgba(14, 53, 76,  0.50)), url('');
        height: 100vh;
        background-size: cover;
        background-attachment: none;
        background-position: center;
     
       
    }
        
    .rsvp-wrapper{
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: rgba(4, 53, 76, 0.507);
        text-align: center;
        color:white;
        border-radius: 10px;
        width: 70vh;
      
        justify-content: center;
      
      }

}

@media only screen and (max-height: 800px) {

    .rsvp {
        background: linear-gradient(rgba(4, 53, 76,  0.50), rgba(14, 53, 76,  0.50)), url('');
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;


    }


    .rsvp-wrapper {
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: rgba(4, 53, 76, 0.507);
        text-align: center;
        color: white;
        border-radius: 10px;
        width: 70vh;

        justify-content: center;

    }



}

@media only screen and (min-height: 901px) {

    .rsvp {
        background: linear-gradient(rgba(153, 163, 162, 0.50), rgba(153, 163, 162, 0.30)), url('../../images/Dad/collage_DylanCailey.png');
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        overflow: auto;
    }


    .rsvp-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(4, 53, 76, 0.507);
        text-align: center;
        color: white;
        border-radius: 10px;
        width: 50vh;

        justify-content: center;

    }

}